<div class="row col-md-12">
    <nav [ngStyle]="{ 'float':'right', 'width':'100%' }">
        <button type="button" class="btn btn-info" [ngStyle]="{'float':'right'}" (click)="onDashboard()">Dashboard</button> &nbsp;&nbsp;
        <button type="button" class="btn btn-info" [ngStyle]="{'float':'right'}" (click)="onCalls()">Calls</button> &nbsp;&nbsp;
        <button type="button" class="btn btn-info" [ngStyle]="{'float':'right'}" (click)="onAddCall()">Add Call</button>
    </nav>
</div>
<div class="row col-md-12">
    <router-outlet></router-outlet>
</div>