/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~material-design-icons-iconfont/dist/material-design-icons.css";

// Angular Material custom theme
// The mixins below must be included once so we separated them from the variables
@import "~@angular/material/theming";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

// Theme customization
@import "theme/theme";

.mat-tab-header {
    border-bottom: none !important;
}

.mat-tab-label {
    color: black !important;
    font-weight: bold !important;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
}

.mat-tab-label-active {
    color: white !important;
    font-weight: bold !important;
    background-color: #00456a !important;
    opacity: 1 !important;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
}

.mat-tab-label:hover {
    color: white !important;
    font-weight: bold !important;
    background-color: #00456a !important;
    opacity: 1 !important;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background-color: #00456a !important;
    margin-bottom: 0px !important;
}

.mat-tab-header-pagination-chevron {
    border-style: none !important;
    margin-left: 0px !important;
}

.mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus{
    background-color: #00456a;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background-color: #00456a !important;
}

.mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display: none !important;
}
